.page {
  max-width: 1300px;
  margin: auto;
  font-family: Inter;
  background-color: rgb(168, 243, 168);
}

.page_wrap {
  margin-left: 150px;
}

.input_wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.checkbox_wrap {
  display: flex;
  flex-direction: row;
}
.checkbox_form {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 2%;
}
.chat_wrap {
  display: flex;
  flex-direction: column;
}

.chat_wrap__title {
  margin-left: 20px;
}

.chat {
  margin-left: 20px;
}

.user_wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.date {
  margin-left: 10%;
}
.username {
  padding-left: 2%;
}
.message {
  padding-top: 3%;
}
.message__wrap{
  border-bottom: 1px dashed grey;
  padding-top: 2%;
  padding-bottom: 3%;
}

.button {
  width: fit-content;
  padding: 0 25px;
  margin-left: 180px;
  margin-top: 20px;
  outline: none;
  border: 1px solid rgb(2, 89, 2);
  border-radius: 30px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000e14;
  background-color:rgb(6, 124, 6);
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;  
  vertical-align: top;
  transition: box-shadow 0.2s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(5, 1, 44, 0.24), 0 17px 50px 0 rgba(2, 63, 97, 0.19);
}

form {
  margin-top: 2%;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}