.wrapper {
    margin: auto;
    max-width: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

h2 {
    text-align: center;
}

.director__name {
    color: darkslategray;
    font-weight: 700;
}

.director__career {
    background-color: darkslategray;
    padding: 10px;
    color: antiquewhite;
    font-weight: 500;
}

.director__link {
    color: darkslategray;
    padding-bottom: 25px;
}

.director__bestfilms {
    background-color:black;
    text-align: center;
}

.director__bestfilms_award {
    max-width: 300px;
    align-self: center;
}

.director__bestfilms_list {
    color: rgb(245, 239, 239);
    font-weight: 500;
    padding: 7px;
}

.btn-up {
    position: fixed;
    background-color: #58524c;
    left: 20px;
    bottom: 30px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: translateY(0);
  }

  .btn-up_hide {
    display: none;
  }

  .btn-up_hiding {
    opacity: 0;
    transform: translateY(100px);
  }

  .btn-up-icon {
    width: 40px;
    height: 40px;
    fill: currentcolor;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #eccf2c;
    }
  }